<!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href={{ url_for('static', filename='styles/general.css') }}/>
        <link rel="stylesheet" href={{ url_for('static', filename='styles/chat/chat.css') }}/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

        <title>Concord</title>
   </head>

   <body>
        <nav id="servers-list" class="column">
            <button class="rounded-button">
                <img src="https://pbs.twimg.com/media/EimP7syXkAEEd9C.jpg">
            </button>

            <hr id="servers-line" />

            <button class="rounded-button">
                <img
                    style="box-shadow: 0 0 10px rgba(240, 74, 255, 1);"
                    src="https://i.pinimg.com/originals/78/da/0a/78da0a8486096937e1f6dcbbc4fad080.gif"
                />
            </button>

            <button class="rounded-button">
                <img
                    src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/184105477/original/733b27d5a1c6d0a5cad5e7719163c9d0a6fe90ee/make-you-a-discord-server-icon.png"
                />
            </button>

            <button class="rounded-button">
                <img src="static/+.png">
            </button>
        </nav>

        <aside id="sidebar" class="column">
            <header id="server-header">
                <h3>Portal amor Chiaki</h3>
            </header>

            <div id="channels-list">
                E
            </div>

            <footer id="profile-config">
                <input type="text" id="username-input" placeholder="Nickname..." value="Hylley11037"></input>
                <input type="text" id="profile-pic-input" placeholder="Pfp URL..." value="https://i.kym-cdn.com/photos/images/newsfeed/002/322/167/b9f.gif"></input>
                <img id="profile-pic-preview" src="https://i.kym-cdn.com/photos/images/newsfeed/002/322/167/b9f.gif"/>
            </footer>
        </aside>

        <div id="chat-window" class="column">
            C
        </div>
   </body>
</html>