<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

        <link rel='stylesheet' href={{ url_for('static', filename='styles/general.css') }}>
        <link rel='stylesheet' href={{ url_for('static', filename='styles/home.css') }}>

        <script src={{ url_for('static', filename='scripts/setup.js') }} defer></script>
        <script src={{ url_for('static', filename='scripts/msg_api.js') }} defer></script>

        <title>Concord</title>
    </head>
    <body>
        <main class="container">
            <aside id="server_list">
                <button id="friends-button" class="circular-button">
                    <img src="https://i.pinimg.com/736x/16/90/23/1690235f3327456bfc41f8d942a4c616.jpg"/> 
                </button>

                <hr/>

                <button class="circular-button">
                    <img src="https://img.myloview.com.br/adesivos/chat-icon-chat-icon-vector-chat-icon-image-chat-icon-eps-chat-icon-jpg-chat-icon-chat-icon-flat-chat-icon-web-chat-icon-app-chat-icon-art-chat-icon-ai-chat-icon-line-700-230638916.jpg"/> 
                </button>
            </aside>

            <aside id="channels">
                <header id="channels-header">
                    <h3 id="server-header-name">Sou lindo</h3>
                </header>

                <section id="channels-list">
                    <header class="channels-list-header">
                        <h5>Canais de texto</h5>
                    </header>

                    <ul class="channels-content">
                        <li>
                            <span class="hash">#</span>
                            <span class="channel-name">geral</span>
                        </li>

                        <li>
                            <span class="hash">#</span>
                            <span class="channel-name">memes</span>
                        </li>
                    </ul>

                    <header class="channels-list-header">
                        <h5>Canais de voz</h5>
                    </header>
                </section>

                <footer id="channels-footer">
                    <input id="username-input" placeholder="Nome..." type="text" value="none"></input>
                </footer>
            </aside>

            <div id="window">
                <header>
                    <h3>#geral</h3>
                </header>

                <div id="workspace">
                    <div id="message-containter">
                        <!----
                        <div class="message">
                            <img src="https://media.tenor.com/DuThn51FjPcAAAAC/nerd-emoji-nerd.gif"/>
                            <h3>User001 <span>11:00</span></h3>
                            <p>Start.</p>
                        </div><!---->
                    </div>
                </div>

                <footer>
                    <input id="input" placeholder="Olá mundo!" type="text"></input>
                </footer>
            </div>
        </main>
    </body>
</html>