:root {
    --background: #1e2520;
    --chat-window-background: #1e2520;
    --channels-sidebar-background: #282828;
    --servers-list-background: #d16464;
}

body{
    background: var(--background);
}